@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');
$body-font-family: 'Allerta', sans-serif !important;

$btn-text-transform: none !important;

$material-light: (
  'background': #fffde7,
);

$btn-font-sizes: (
  'x-small': 0.625rem,
  'small': 0.75rem,
  'default': 1.2rem,
  'large': 1.5rem,
  'x-large': 1rem,
);

// $btn-outline-border-width: 4px;
